.popup__form-save {
  width: 238px;
  height: 46px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter";
  border: #000;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .popup__form-save {
      height: 50px;
      width: 358px;
  }
}

.popup__form-save:hover {
  opacity: 0.8;
}
