.popup__form-field {
    margin: 0 0 43px 0;
    width: 100%;
    padding: 13px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    outline: none;
    font-family: "Inter", Arial, sans-serif;
}

@media screen and (min-width: 768px) {
    .popup__form-field {
        margin: 0 0 36px 0;
    }
}
